.card__delete-btn {
  width: 18px;
  height: 19px;
  position: absolute;
  right: 20px;
  top: 20px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  background-image: url(../../../images/btn-delete.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
}